
.navbar {
    background-color: #021E39;
    /* background-image:  url("../img/navbarcol.jpg"); */
    /* position: fixed; */
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /* z-index: 1;  */ /* Lo hice para que no se vean los botones de las cards */
}
/* .filter{
    width:100%;
} */

.leftSide {
    /* background-color: aqua; */
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.rightSide {
    /* background-color: blueviolet; */
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 35px;
}

.links {
    max-height: 80px;
}

.links a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 15px;
}

.links button{
    background-color: #021E39;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 25px;
    margin-left: 15px;
    cursor: pointer;
}

input {
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 15px;
    color: black;
}

.buttonSearch {
    height: 31px;
    width: 70px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 1px;
}

.buttonLinks{
    display: none;
}

#hidden{
    position: absolute;
    left: 0px;
    top: 60px;
    width: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #021E39;
    align-items: center;   
}

.logo{
    margin-left: 20px;
}
.logo img{
    width: 50px;
    height: 45px;
}

@media only screen and (max-width: 960px) {/* 820 */
    .links a {
        font-size: 20px;
    }
    .links button{
        font-size: 20px;
    }

    input {
        width: 180px;
    }
}

@media only screen and (max-width: 820px) {/* 700 */
    .links a {
        font-size: 15px;
    }
    .links button{
        font-size: 15px;
    }
    input {
        width: 160px;
    }
}

@media only screen and (max-width: 720px) {/* 600 */

    .buttonLinks{
        display: flex;
        border: none;
        border-radius: 4px;
    }
    .leftSide{
        /* justify-content: center; */
        justify-content: space-evenly;
    }

    .links {
        display: none;/* esto es para que o se vea nada de lo que esta dentro de esa etiqueta */
    }

    input {
        width: 140px;
    } 
    .links a{
        font-size: 25px;
    }
    .links button{
        font-size: 25px;
    }
    .buttonSearch {
        width: 40px;
    }
}

